body {
  margin: 0;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}

#gameCanvas {
  width: 100%;
  height: auto; /*100vh; /* 50% der Bildschirmhöhe */
  display: block;
}